.overview {
    width: 100%;
}

.head-wrapper {
    width: 100%;
    background-color: #f0f0f0;
    text-align: left;
}

h4 {
    margin: 10px;
}

.selection-area {
    text-align: left;
    width: 100%;
    padding: 0 20px;
    margin: 5px 0;
}

.items-wrapper {
    display: inline-flex;
    width: 100%;
}

.target {
    font-weight: normal;
    width: 200px;
}

.selection-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: #cccccc dashed 1px;
}

.selection-items > .checkbox {
    margin-right: 20px;
}

.risk-selector {
    width: 600px;
    min-width: 400px;
}

.selector-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.data-present {
    width: 100%;
    margin: 0 0 10px;
}

.submit-button {
    margin-left: 20px;
}